
//including my partials
@import 'partials/lists';
@import 'partials/mixins';
@import 'partials/colors';

$ctr: auto 80px;

body{
	background-color: $bground-color;
	padding: $pad;
	font-size: $font-size;
	color: $text-color;
	margin: $ctr;
	}

h1{
	font-size: $font-size * 2;
	text-align: center;
	color: $head-color;
}
h2{
	@extend h1;
	font-size: $font-size;
}
nav{
	border: $border;
	text-align: center;
	@include border-radius(10px);
	// margin: $ctr;

	ul{
		//trying out some math
		padding: $pad * 3;
		li{
			display: $display;
			a{
				color: $item-color;
				text-decoration: $decoration;
				padding: $pad * 8;

			}
		}
	}
}


// .content{
// 	// color: $text-color;
// }

footer{
//use all of the properties of nav but change font-size
	@extend nav;
	background-color: grey;
}